.App {
  text-align: center;
  margin: 0 auto;
  width: 1024px;
}

.interface {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.boxes {
  width: 50%;
  border: 1px solid black;
  height: 500px;
  position: relative;
}

.orders{
  padding: 35px;
  max-height: 300px;
  overflow-y: scroll;
}